<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/Styles.css">
    <title>Qué probabilidad hay?</title>
</head>
<body>
    <div>
        <h1>Qué probabilidad hay?</h1>
    </div>
    <div>
        <label>Del 1 al: <input id="NumeroMax"></label>
    </div>
    <br>
    <div>
        <label id="lblDesafiado">Desafiado</h3><input id="Desafiado"></label><button id="btnDesafiado">Ingresar</button>
        <label id="lblDesafiante">Desafiante</h3><input id="Desafiante"></label><button id="btnDesafiante">Ingresar</button>
    </div>
    <br>
    <div>
        <button id="Jugar" class="Oculto">Ida</button>
    </div>
    <div>
        <h1 id="Resultado">Resultado:</h1>
    </div>
</body>
<script src="../Scripts/QueProbabilidadHay.js"></script>
</html>