<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/Styles.css">
    <title>Qué probabilidad hay?</title>
</head>
<body>
    <div>
        <h1>Qué probabilidad hay?</h1>
    </div>
    <div>
        <label>Del 1 al: <input id="NumeroMax"></label>
    </div>
    <div>
        <h3 id="DesafiadoResultado">Desafiado</h3>
        <h3 id="DesafianteResultado">Desafiante</h3>
    </div>
    <div>
        <button id="Jugar" class="Oculto">Ida</button>
    </div>
</body>
<script src="../Scripts/QueProbabilidadHay.js"></script>
</html>